<div class="centerDiv">
  <h1>
      {{ title }}!
  </h1>

  <table *ngIf="arrWells" id="wellsTable">
      <!-- ADD HEADERS -->
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Source</th>
      </tr>

      <!-- BIND ARRAY TO TABLE -->
      <tr *ngFor="let well of arrWells">
          <td>{{well.ID}}</td>
          <td>{{well.Name}}</td>
          <td [ngStyle]="{'background-color':well.Type === 'esp' ? 'pink' : 'green' }" 
          [ngClass]="{'text-color-change':well.Type === 'esp'}">{{well.Type}}</td>
          <td>{{well.Source}}</td>
      </tr>
  </table>
</div>

<button class="btn btn1">Add New Well</button>