.centerDiv{
    text-align:left;
    width:100%;
}

#wellsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: red;
  }
  
  #wellsTable td, #wellsTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #wellsTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #wellsTable tr:hover {background-color: #ddd;}
  
  #wellsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .text-color-change{
      color: black;
  }

  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }

  .btn1:hover {
    background-color: #4CAF50;
    color: white;
  }